<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RecordedTvPath" value="\\Apollo13\D\Recorded TV"/>
    <!--<add key="RecordedTvPath" value="\\Apollo13\E\Media Library\Movies"/>-->
    
    <add key="DestinationTvPath" value="\\Apollo13\d\Media Library\Plex Tv"/>
    <add key="DestinationProtectedTvPath" value="\\Apollo13\d\Media Library\Protected Tv"/>

    <add key="DestinationMoviePath" value="\\Apollo13\e\Media Library\Plex Movie"/>
    <add key="DestinationProtectedMoviePath" value="\\Apollo13\e\Media Library\Protected Movies"/>
    
    <add key="UpdateUrl" value="http://thetvdb.com/api/Updates.php?type={0}&amp;time={1}"/>
    <add key="SeriesUrl" value="http://thetvdb.com/api/GetSeries.php?seriesname={0}"/>
    <add key="EpisodeUrl" value="http://thetvdb.com/api/615785C3A61C4D19/series/{0}/all/en.zip"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
